
<form id="search-form" name="search-form">
  <input id="searchQuery" name="searchQuery" placeholder="search" [(ngModel)]="searchQuery" />
  <button id="search" (click) = "searchApi()" >Search</button>
</form>

<span *ngIf="results">{{numFound}} Results | {{numPages}} Pages</span>
<!-- *ngIf="numFound>rowsToDisplay" -->

<ng-container *ngFor="let document of documents | paginate: {itemsPerPage: 10, currentPage:page, totalItems: numFound, id: '1'}; let i = index">
    <div class="sr-card">
      <h3>{{document.dc_title_s}}</h3>
      <p class="sr-loc">{{document.Content_Location_s}}</p>
      <p class="sr-desc">{{document.description_s}}</p>
    </div>
</ng-container>
<div class="pagination-wrapper">
    <pagination-buttons [page]="page" [searchQuery]="searchQuery" [numFound]="numFound"></pagination-buttons>
</div>
